[submodule "submodules/sonLib"]
	path = submodules/sonLib
	url = git://github.com/benedictpaten/sonLib.git
[submodule "submodules/matchingAndOrdering"]
	path = submodules/matchingAndOrdering
	url = git://github.com/benedictpaten/matchingAndOrdering.git
[submodule "submodules/pinchesAndCacti"]
	path = submodules/pinchesAndCacti
	url = git://github.com/benedictpaten/pinchesAndCacti.git
[submodule "submodules/hal"]
	path = submodules/hal
	url = git://github.com/glennhickey/hal.git
[submodule "submodules/cactus2hal"]
	path = submodules/cactus2hal
	url = git://github.com/adderan/cactus2hal.git
[submodule "submodules/cactus"]
	path = submodules/cactus
	url = git://github.com/benedictpaten/cactus.git
[submodule "submodules/kyototycoon"]
	path = submodules/kyototycoon
	url = git://github.com/UCSCReconGroup/kyototycoon.git
[submodule "submodules/tokyocabinet"]
	path = submodules/tokyocabinet
	url = git://github.com/UCSCReconGroup/tokyocabinet.git
[submodule "submodules/hdf5"]
	path = submodules/hdf5
	url = git://github.com/UCSCReconGroup/hdf5.git
[submodule "submodules/kyotocabinet"]
	path = submodules/kyotocabinet
	url = git://github.com/UCSCReconGroup/kyotocabinet.git
[submodule "submodules/clapack"]
	path = submodules/clapack
	url = git://github.com/UCSCReconGroup/clapack
[submodule "submodules/phast"]
	path = submodules/phast
	url = git://github.com/UCSCReconGroup/phast
[submodule "submodules/biopython"]
	path = submodules/biopython
	url = git://github.com/biopython/biopython.git
